.img-class{
    border-radius: 10px;
    width: 40px;
}
.header-button {
    border-radius: 20px;
    background-color:white;
    box-shadow: 4px 4px 4px  #b4c6eb;
    color:#508AEB;
    border:1px solid #fff;
    width:120px;
    font-size:14px;
 }

.header-icon {
    font-size:20px;
    color:#508AEB;
}